# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstats

# Build output
Compiled/
obj/
*.obj
*.lib
*.pdb
*.iobj
*.ipdb
*.exe
*.res
*.log
*.recipe
*.lastbuildstate
*.tlog/

# Resource editor
*.aps

# Manifest (no longer used by static library)
*.exe.manifest
